@import url("https://fonts.googleapis.com/css?family=Comfortaa");

head,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.main--container {
  display: flex;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}
.child--container--a {
  flex: 1;
  display: flex;
}
.child--container--b {
  flex: 2;
  position: relative;
}
.child--holder {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block {
  flex: 2;
}
.logo {
  display: flex;
  align-items: center;
  flex: 3;
}
.myform {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.backlink--holder {
  flex: 2;
}
.input--holder {
  display: flex;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.right-border {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.btn--holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.seperator {
  display: flex;
  align-items: center;
}
.btn--submit {
  display: flex;
  color: white;
}
.form--content--height {
  height: 40px;
}
.input--element {
  flex: 1;
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 12px;
}
.icon--element {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
}
.my--btn {
  width: 100px;
  height: inherit;
}
.dashes--holder {
  flex: 1;
  display: flex;
}
.dashes {
  border: 1px dashed rgba(0, 0, 0, 0.1);
  flex: 1;
}
.login--btn {
  justify-content: center;
  align-self: center;
  display: flex;
  flex: 1;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 12px;
}
.backlink--holder {
  display: flex;
  align-items: center;
}
.sign--in--btn {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 12px;
}
.or {
  margin: 0 10px;
}
.show--hide {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  bottom: 0;
}
.enforce-color {
  color: white;
}
.subtle--blend {
  color: rgb(70, 134, 255);
}
.less--attention {
  color: rgba(0, 0, 0, 0.3);
}
.depth--btn {
  background-color: rgb(62, 115, 232);
}
.btn--edit {
  background-color: rgb(70, 134, 255);
  box-shadow: 0px 10px 10px rgba(62, 115, 232, 0.2);
  border-radius: 2px;
  cursor: pointer;
}

.btn--submit:hover .depth--btn,
.btn--submit:hover,
.my--btn:hover {
  background-color: rgba(70, 134, 255, 0.5);
}
.curve {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-inner,
.carousel,
.carousel-item {
  height: 100%;
}
.carousel-indicators {
  bottom: 50px;
  width: 80px;
  left: 100px;
  justify-content: flex-start;
  margin: 0;
}
.carousel-indicators .active {
  background-color: rgb(62, 115, 232);
}
.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.7);
  height: 2px;
}
.carousel-caption {
  bottom: 90px;
  left: 100px;
  right: unset;
  text-align: left;
}
.mytitle {
  font-size: 4.5em;
  font-weight: bolder;
  color: white;
}
.mytext {
  font-weight: lighter;
  font-size: 1em;
  color: rgb(255, 255, 255);
}
.myplaybtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  color: white;
  background-color: rgb(62, 115, 232);
  margin-bottom: 40px;
  font-size: 1em;
  border-radius: 25px;
}
.trl {
  width: 100px;
  height: auto;
}
.click {
  cursor: pointer;
}
.fgtp:hover {
  color: rgb(62, 115, 232);
}
.fgtp,
.word {
  font-size: 14px;
}
.word:hover {
  color: rgba(62, 115, 232, 0.5);
}
@media (max-width: 800px) {
  .main--container {
    flex-direction: column;
  }
  .child--container--b {
    display: none;
  }
}
